./Software/Ubuntu.qcow
./Hardware/Components_List.xlsx
./Hardware/Components_List.pdf
./Hardware/Components_List_without_price.xlsx
./Hardware/Components_List.pdf
./Hardware/Components_List - Sheet1.pdf
./Hardware/S1list.pdf
./OS/
./OS/RUNS.qcow2
./OS/Ubuntu.qcow
./Hardware/Components_List.pdf
./Hardware/Components_List.xlsx
./OS/
